/* Header Styles */
header {
  background-color: #00aeee;
  padding: 0.8rem;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container {
  background-color: #3a3a3a;
  height: 100%;
  padding-bottom: 5rem;
}

.ghibli-logo {
  width: 15rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.ghibli-logo:hover {
  width: 15.3rem;
}

#menu {
  align-self: flex-end;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#menu:hover {
  font-size: 1.8rem;
}

/* Film Content Styles */
h2 {
  font-size: 1.5rem;
  margin: 0;
  color: white;
  font-family: Archivo, sans-serif;
  padding-top: 1rem;
}

.film-page {
  display: flex;
  justify-content: center;
}

.film-card {
  display: flex;
  background-color: #ffff;
  margin: 1.4rem;
  height: 18rem;
  border-radius: 0.7rem;
  flex-wrap: wrap;
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-half > img {
  width: 9rem;
  border-radius: 1rem;
  margin: 1rem;
}

.column > .film-card {
  display: flex;
  flex-direction: column;
}

.column-half {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-basis: 50%;
}

.fa-heart,
.fa-bookmark {
  transition: 0.3s ease-in-out;
}

.fa-heart:hover {
  color: red;
}

.fa-bookmark:hover {
  color: blue;
}

p {
  margin: 0;
  font-family: "Tenor sans", sans-serif;
}

.film-info {
  line-height: 1.1rem;
  padding: 0.5rem;
}

/* About Page Styling */
.about {
  display: flex;
  justify-content: center;
  background-color: #ffff;
  margin: 1.4rem;
  height: 100%;
  border-radius: 0.7rem;
  flex-wrap: wrap;
  padding: 0.9rem;
  text-align: center;
}

.about-img {
  display: flex;
  justify-content: center;
}

/* Menu Modal Styling */

#close-menu {
  font-size: 2rem;
  padding-left: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#close-menu:hover {
  color: #ee4040;
}

.menu-left,
.menu-center,
.menu-right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

.menu-center img {
  max-width: 80%;
  height: auto;
}

.menu-right a,
.menu-left a {
  font-family: "Tenor Sans", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

.menu-right a:hover,
.menu-left a:hover {
  text-decoration: underline;
}

.menu-content {
  display: flex;
  justify-content: space-between;
}

#films {
  align-self: end;
}

.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #626161;
}

.about-page {
  display: flex;
  justify-content: center;
}

/* Full Film Cards */
.full-card {
  width: 100;
  height: 100%;
  background-color: #ffff;
  margin: 1.4rem;
  border-radius: 0.7rem;
}

.full-info > img {
  width: 100%;
  border-radius: 1rem;
}

.full-info > p {
  text-align: center;
  padding: 0.5rem 0;
}

.full-info > em {
  padding-bottom: 0.5rem;
}

.text-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#ghibli-crew {
  width: 90%;
}

/* Favorites Page Styling */
.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorite-page {
  display: flex;
  width: 100%;
  justify-content: center;
}

.favorites {
  background-color: #fff;
  margin: 2.5rem;
  border-radius: 0.7rem;
  flex-wrap: wrap;
  padding: 0.9rem;
  text-align: center;
}

.favorite-column > img {
  width: 9rem;
  border-radius: 1rem;
}

.fav-watch > .fa-solid {
  color: red;
}
